
@font-face {
	font-family: 'gilroyextrabold';
	src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
			 url('../fonts/gilroyextrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gilroylight';
	src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
			 url('../fonts/gilroylight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.index-body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	color: #464646;
	background-color: #ffffff;
}

.index-header {
	position: relative;
	min-height: 260px;
	margin-top: 36px;
	padding: 0 60px;
	padding-top: 40px;
	background-color: #f7e296;
	/* z-index: -1; */
}

.logo {
	position: absolute;
	top: -17px;
	left: 60px;
}

.index-header .container {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.container-1 {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-left: 100px;
}

.search {
	box-sizing: border-box;
	position: relative;
	width: 355px;
	padding: 7px 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	color: #000000;
	background: url(../img/search.svg) 4px 15px no-repeat, transparent;
	border: none;
	border-bottom: 2px solid transparent;
}

.search-button {
	visibility: hidden;
	display: inline-block;
	padding: 7px 19px;
	color: #000000;
	background: transparent;
	border: 2px solid #000000;
}

.search:focus {
	border-color: #000000;
}

.search:focus + .search-button {
	visibility: visible;
}

.compare {
	position: relative;
	margin-right: 40px;
	margin-left: auto;
	padding: 7px 0 7px 19px;
	padding-left: 20px;
	color: #000000;
}

.compare::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../img/compare.svg) no-repeat;
}

.enter {
	position: relative;
	padding: 7px 0 7px 19px;
	padding-left: 27px;
	color: #000000;
}

.enter::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url(../img/user.svg) no-repeat;
}

.cart {
	position: relative;
	padding: 7px 0 7px 19px;
	padding-left: 23px;
	color: #000000;
}

.cart::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	width: 12px;
	height: 12px;
	background: url(../img/cart.svg) no-repeat;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-item > a {
	margin: 0;
	padding: 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;	
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000000;
}

.nav-list .nav-item:nth-child(2) {
	margin-left: 285px;
	margin-right: 38px;
}

.nav-list .nav-item:nth-child(3) {
	margin-right: auto;
}

.nav-list .first-link {
	position: relative;
	padding-right: 32px;
	cursor: pointer;
}

.nav-list .first-link::before {
	content: "";
	position: absolute;
	top: 8px;
	right: 0;
	width: 16px;
	height: 2px;
	background-color: #b8a974;
}

.nav-list .first-link::after {
	content: "";
	position: absolute;
	top: 8px;
	right: 0;
	width: 16px;
	height: 2px;
	background-color: #b8a974;
	transform: rotate(90deg);
}

.nav-list .nav-item {
	position: relative;
}

.catalog-container {
	display: none;
	/* display: flex; */
	flex-wrap: wrap;
	position: absolute;
	top: 45px;
	left: 0;
	width: 1040px;
	z-index: 10;
}

.catalog-list {
	margin: 0;
	margin-right: 60px;
	padding: 0;
	list-style: none;
}

.catalog-list a {
	margin: 0;
	padding: 0;	
	font-size: 15px;
	line-height: 36px;
	font-weight: 400;
	color: #000000;
	text-transform: none;
}

.wrapper.slider-wrapper {	
	position: relative;
	padding-top: 480px;
}

.slider {
	position: absolute;
	top: -95px;
	left: 20px;
	width: 1160px;
	min-height: 490px;
}

.slider-list {
	margin: 0;
	padding: 0;
}



.slider-item {
	display: none;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 60px;
}

.slider-item:last-child .slider-img	{
	padding-top: 45px;
}

.slider-content	{
	position: relative;
	width: 500px;
	/* margin-left: auto; */
}

.slider-content::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 0;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slide-number {
	position: absolute;
	top: -30px;
	right: -5px;
	margin: 0;
	padding: 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 179px;
	line-height: 179px;
	font-weight: 400;
	color: #ffffff;
}

.slider-controls {
	position: absolute;
	bottom: 165px;
	right: 80px;
	z-index: 1;
}

.slider-indicator {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	font-size: 0;
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
}

#slide-1:checked ~ .slider-controls .slider-indicator:nth-child(1)::before,
#slide-2:checked ~ .slider-controls .slider-indicator:nth-child(2)::before,
#slide-3:checked ~ .slider-controls .slider-indicator:nth-child(3)::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 4px;
	height: 4px;
	background: transparent;
	border: 1px solid #000000;
	border-radius: 50%;
}

#slide-1:checked ~ .slider-list .slider-item:nth-child(1),
#slide-2:checked ~ .slider-list .slider-item:nth-child(2),
#slide-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: flex;
}

.slider-indicator:not(:last-child) {
	margin-right: 20px;
}

.lead-text {
	position: relative;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 20px;
	padding: 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 400;
	color: #000000;
}

.slider-text {
	width: 480px;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-family: "gilroylight", Arial, sans-serif;
}

.slider-tabl-row:first-child {
	font-family: "gilroylight", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
	color: #000000;
}

.slider-tabl {
	margin-top: 65px;
}

.slider-tabl td {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

.slider-tabl-row:last-child {
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}

.slider-tabl-row td:first-child,
.slider-tabl-row td:last-child {
	width: 160px;
}

.slider-tabl-row td:nth-child(2) {
	width: 140px;
}



















.catalog {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	list-style: none;
}

.catalog .catalog-item {
	position: relative;
	width: 160px;
	padding-top: 185px;
	margin-right: 40px;
	margin-bottom: 35px;
}

.catalog .catalog-item:nth-child(6n) {
	margin-right: 0;
}

.catalog-item .catalog-link {
	margin: 0;
	padding: 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.catalog-item:nth-child(1) .catalog-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: url(../img/popular-1.png) center center no-repeat, #f7e296;
}

.catalog-item:nth-child(2) .catalog-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: url(../img/popular-2.png) center center no-repeat, #f7e296;
}

.catalog-item:nth-child(3) .catalog-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: url(../img/popular-3.png) center center no-repeat, #f7e296;
}

.catalog-item:nth-child(4) .catalog-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: url(../img/popular-4.png) center center no-repeat, #f7e296;
}

.catalog-item:nth-child(5) .catalog-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: url(../img/popular-5.png) center center no-repeat, #f7e296;
}

.catalog-item:nth-child(6) .catalog-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: url(../img/poppular-6.png) center center no-repeat, #f7e296;
}
/* 
390

10 */
.service {
	min-height: 400px;
	margin-bottom: 90px;
	background: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px, #e5e5e5 388px, transparent 388px);
}

.service .wrapper {
	display: flex;
	justify-content: space-between;
}

.service-slider {
	box-sizing: border-box;
	width: 284px;
	margin: 0;
	padding: 80px 0 70px 0;
	border-right: 7px solid #000000;
	list-style: none;
}

.service-slider .service-slider-item {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.service-label {
	display: inline-block;
	position: relative;
	min-width: 160px;
	margin: 0;
	padding: 0;
	padding: 8px 117px 8px 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	z-index: 1;
}

.service-label::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
}

/* .service-label::after {
	content: "";
	position: absolute;
	top: 20px;
	left: 0;
	width: 160px;
	height: 4px;
	background-color: #f0c52e;
	transform: rotate(180deg);
	z-index: -1;
} */

[class^="toggle-"]:checked + .service-label {
	background-color: #000000;
	color: #d6c372;
}

[class^="toggle-"]:checked + .service-label::before {
	background-color: transparent;
}

.service-slide {
	width: 760px;
	margin: 0;
	padding: 0;
	padding-top: 70px;
}

.title {
	margin: 0;
	margin-bottom: 32px;
	padding: 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 400;
	color: #000000;
}

.service-slide .service-text {
	width: 445px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.service-slide-1 {
 background: url(../img/delivery.png) 560px center no-repeat;
}

.service-slide-2 {
	background: url(../img/warranty.png) 535px center no-repeat;
}

.service-slide-3 {
	background: url(../img/credit.png) 530px center no-repeat;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 90px;
	padding: 0;
	list-style: none;
}

.partners-list .partners-list-item:nth-child(1):hover,
.partners-list .partners-list-item:nth-child(1):focus {
	background: url(../img/logo-1.png) 0 0  no-repeat;
}

.partners-list .partners-list-item:nth-child(2):hover,
.partners-list .partners-list-item:nth-child(2):focus {
	background: url(../img/logo-2.png) 0 0 no-repeat;
}

.partners-list .partners-list-item:nth-child(3):hover,
.partners-list .partners-list-item:nth-child(3):focus {
	background: url(../img/logo-3.png) 0 0 no-repeat;
}

.partners-list .partners-list-item:nth-child(4):hover,
.partners-list .partners-list-item:nth-child(4):focus {
	background: url(../img/logo-4.png) 0 0 no-repeat;
}

.partners-list-item .partners-img:hover,
.partners-list-item .partners-img:focus  {
	opacity: 0;
}

.info-container {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.about {
	position: relative;
	width: 480px;
	padding-top: 55px;
}

.about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.text {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	font-family: "gilroylight", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.delserv-list {
	margin: 50px 0 60px 0;
	padding: 0;
	list-style: none;
}

.delserv-list li {
	position: relative;
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
	padding-left: 35px;
}

.delserv-list li::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 1px;
	width: 8px;
	height: 8px;
	background-color: #e6e6e6;
	border-radius: 50%;
}

.delserv-list li::after {
	content: "";
	position: absolute;
	top: 18px;
	left: 3px;
	width: 4px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 50%;
}

.delserv-list .bold-text {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 400;
	color: #000000;
}

.stylized-elem {
	display: inline-block;
	position: relative;
	min-width: 260px;
	margin: 0;
	padding: 0;
	padding: 8px 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	border: none;
	z-index: 1;
}

.stylized-elem::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 0;
	min-width: 260px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
}

.slider-item .stylized-elem,
.slider-item .stylized-elem::before {
	min-width: 220px;
}

.form-writeus .stylized-elem,
.form-writeus .stylized-elem::before {
	min-width: 200px;
}

.form-writeus .stylized-elem {
	background: transparent;
}

.contacts {
	position: relative;
	width: 560px;
	padding-top: 55px;
}

.contacts::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.contacts .text:last-of-type{
	margin-bottom: 35px;
}

.minimap {
	width: 560px;
	height: 222px;
	margin-bottom: 69px;
	background: url(../img/map.jpg) no-repeat;
}

.modal {
	box-sizing: border-box;
	position: absolute;
	box-shadow: 0 8px 16px -10px rgba(0, 0, 0, 0.8);
	z-index: 10;
}

.modal-writeus {
	top: 1060px;
	left: 50%;
	width: 960px;
	margin: 0;
	margin-left: -480px;
	padding: 80px 100px;
	background: #ffffff;
}

.close-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 55px;
	height: 55px;
	margin: 0;
	padding: 0;
	font-size: 0;
	background-color: #f7e296;
	border: none;
	border-radius: 50%;
	opacity: 0.7;
}

.close-modal::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 17px;
	width: 22px;
	height: 2px;
	background-color: #ffffff;
	transform: rotate(45deg);
}

.close-modal::after {
	content: "";
	position: absolute;
	top: 27px;
	left: 17px;
	width: 22px;
	height: 2px;
	background-color: #ffffff;
	transform: rotate(-45deg);
}

.form-container {
	display: flex;
	justify-content: space-between;
}

.form-column {
	width: 360px;
}

.form-label {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.form-input {
	box-sizing: border-box;
	width: 360px;
	margin: 0;
	margin-bottom: 35px;
	padding: 15px 20px;
	font-family: inherit;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #464646;
	background-color: #f2f2f2;
	border: none;
}

.form-letter {
	box-sizing: border-box;
	width: 100%;
	min-height: 155px;
	margin: 0;
	margin-bottom: 50px;
	padding: 15px 20px;
	font-family: inherit;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #464646;
	background-color: #f2f2f2;
	border: none;
	resize: none;
	overflow: auto;
}

.modal-map {
	position: absolute;
	top: 50px;
	left: 50%;
	margin: 0;
	margin-left: -480px;
	padding: 0;
	width: 960px;
	min-height: 560px;
	background: url(../img/map-big.png) no-repeat;
}


































.index-footer {
	margin-top: 75px;
	padding: 65px 0;
	background-color: #464646; 
}

.index-footer .wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.top-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 25px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	width: 326px;
}

.enter-list {
	margin: 0;
	padding: 0;
}

.enter-footer {
	position: relative;
	padding-left: 27px;
}

.compare-footer {
	position: relative;
	padding-left: 20px;
}

.cart-footer {
	position: relative;
	padding-left: 25px;
}

.enter-footer::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url(../img/user-footer.svg) no-repeat;
}

.compare-footer::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../img/compare-footer.svg) no-repeat;
}

.cart-footer::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 12px;
	height: 12px;
	background: url(../img/cart-footer.svg) no-repeat;
}

.footer-text {
	margin: 0;
	font-size: 15px;
	line-height: 30px;
	font-style: normal;
	color: #ffffff;
}

.center-row {
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 65px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	width: 440px;
	margin: 0;
	padding: 0;
	letter-spacing: 4px;
	list-style: none;
}

.footer-nav a {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

.bottom-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
}

.line {
	width: 80px;
	height: 7px;
	background: #ffc600;
}

.social-list {
	display: flex;
	justify-content: space-between;
	width: 145px;
	margin: 0;
	margin-left: -15px;
	padding: 0;	
}

.social-item {
	display: block;
	width: 32px;
	height: 32px;
	font-size: 0;	
	border-radius: 50%;
}

.fb {
	background: url(../img/Facebook.png) center center no-repeat;
}

.inst {
	background: url(../img/Instagram.png) center center no-repeat;
}

.tw {
	background: url(../img/Twitter.png) center center no-repeat;
}

